.App {
    /*text-align: center;*/
    background-color: #F6F8F9;
}

.App-header {
    display: flex;
    height: 85vh;
    min-height: 320px;
    transition: background-image 0.3s ease;
    background: url("../../assets/heroimg.jpg") no-repeat center center fixed;
    text-align: center;
}

.Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 80vh;
}

.pt-lx {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.bg-portofolio {
  background-color: #313131;
  color: white;
  flex: 1;
  display: flex;
  align-items: center;
  font-style: italic;
  min-width: 300px;
}

.bg-porto-center {
  background-color: #251D1F;
  flex: 3;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.box-porto-center {
  width: 230px;
  height: 230px;
  background-color: #2B1F23;
  margin: 1rem;
  padding: 10px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  text-align: left;
  align-items: left;
}

.title-box-porto {
  color:#FF566A;
}

.bg-porto-right {
  background-color: #251D1F;
  flex: 2;
  color: white;
  text-align: left;
  min-width: 300px;
}

.footer-porto {
  flex-wrap: wrap;
}

.hightlight-service-text {
  font-size: 14pt;
  color: #825A63;
}

.service-text {
  font-size: 10pt;
  color: #825A63;
}

.icon-porto {
  height: 80px;
  width: 80px;
}

.title-content {

}

.subtitle-content {
  opacity: .7;
  color: #848484;
}

.title-text {
  color: '#fff';
  font-size: 52px;
  margin-bottom: -5px;
  font-family: "Ubuntu";
  line-height: 1.2;
}

@media screen and (max-width: 720px) {
  .title-text {
    font-size: 40px;
  }
}

@media screen and (max-width: 520px) {
  .title-text {
    font-size: 25px;
  }
}